.error-container {
    background: #f8d7da;
    color: #721c24;
    padding: 1rem;
    border: 1px solid #f5c6cb;
    margin: 1rem;
    border-radius: 8px;
    width: 100%;
    position: fixed;
    z-index: 100;
  }

.error-container button{
  padding: 1rem;
  color: #fafafa;
  border:1px solid rgba(243, 243, 243, 0.47);
  color:#333;
  border-radius: 5px;
}
